.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.container {
  width: 85%;
  max-width: 800px;
  height: 96%;
  margin: 15px auto;
  padding: 30px;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.main {
  border-radius: 4px;
  padding: 10px 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hindiTitle {
  font-size: 22px;
  margin-bottom: 24px;
  font-weight: 600;
  text-align: center;
  white-space: pre-line;
}

.sentenceDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 40px 0;
}

.word {
  font-size: 24px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  background: white;
  transition: all 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: relative;
}

.word:hover:not(.highlightCorrect):not(.highlightWrong) {
  background: #0b8a1c;
  color: white;
  transform: translateY(-2px);
}

.highlightCorrect {
  background: #2ecc71 !important;
  color: white !important;
  font-weight: bold;
}

.highlightWrong {
  background: #e74c3c !important;
  color: white !important;
}

.iconMark {
  margin-left: 8px;
  font-weight: 900;
}

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.progress {
  color: #666;
  font-weight: 600;
}

.score{
   color: #555;
  background: #ffffffe6;
  border: 1px solid #0000001a;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 1px 1px 3px #0000001a;
}
.nextBtn {
  background: #0b8a1c;
  color: white;
  padding: 0 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 15px;
  height: 40px;
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.nextBtn:hover {
  opacity: 0.9;
}

.nextBtn:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.selectedWord {
  background: #d6eaf8; /* light blue */
  color: #0b8a1c;
  font-weight: 600;
  transform: scale(1.05);
}
